/* Copyright @ All The Bullshit (Adrian | adi769#6946)
/* Something something GLP or MIT license who gives one
/* take this, nab it, steahl it and ammend it and remove the comments (including this junk) because why would you keep them

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap')

*
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important


/* Set the main/outer background color, that font setting is probably redundant lol */
body
  background: rgb(10, 10, 10)
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

.innerpadding
  background-color: rgb(50, 50, 50)


/* Link color at the default state */
a, a:active, a:visited
  color: rgb(255, 0, 100)
  text-decoration: none


/* Link color when hovered */
a:hover
  color: rgb(0, 200, 200)
  text-decoration: underline


/* Colour of the "My Recent Achievements" in the bottom right... why is this a different tag? */
dl.ranking dt
  color: rgb(255, 0, 100)


/* Heading 3 tag, change colour of some of the main headings like "Apprentice (or other league)", "Customize", "My global cups", "Advertisement" etc. */
h3
  color: #fff


/* Most of the body color settings, at least this was nice and convenient */
body, select, input, textarea
  color: #fff


/* Removes the borders around the "Career Ranking" and "Points" boxes */
#hardware-details ul, ul.bg-list, .bg-accent
  background-color: #f4f7f8
  border-radius: 0px
  border: solid 0px #e7eaeb


/* I forgot what this was, honestly it probably was annoying me because it had a border but I can't find what it was easily and I CBA xd */
ul.bg-list-full
  background-color: #f4f7f8
  border-radius: 0px
  border: solid 0


/* More fucking border-reset, this is for the main two "Career Rankign" and "Points" boxes, also set background color */
.bg-accent, div.achievement_type
  background: rgb(30, 30, 30)
  border: 0
  box-shadow: 0 0 0


/* Remove the dumb background grid */
#grid
  z-index: -10000
  width: 0
  height: 0

.ui-widget
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

  font-size: 1em


.ui-widget .ui-widget
  font-size: 1em


.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

  font-size: 1em


/* Changes the container color of the "My wall", "Points", "My Achievements" etc. section */
.ui-widget-content
  border: 0 none
  background: rgb(30, 30, 30) 50% 50% repeat-x
  color: #fff


/* Changes the header color of the above container, this holds the "My wall" etc. buttons" */
.ui-widget-header
  border: 0 none
  background: rgb(30, 30, 30)
  color: #206681
  font-weight: bold
  border-bottom: 0


.ui-widget-header a
  color: #206681

/* Default non active */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
  background: rgb(50, 50, 50)
  border: 0
  color: #757575
  font-size: 14px
  font-weight: normal
  padding: 5px 14px
  border-radius: 0
  -moz-border-radius: 0
  -webkit-border-radius: 0

/*  Default non-active */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
  color: rgb(200, 200, 200)
  text-decoration: none



/*  Hover non active */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover
  background: rgb(20, 20, 20)
  border: 0
  font-weight: normal
  color: #1a5267



/* Click on non active */
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
  border: 0
  background: rgb(20, 20, 20) url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x
  font-weight: normal
  color: #1a5267



/* Hover non active */
.ui-state-hover a, .ui-state-hover a:hover
  color: rgb(200, 200, 200)
  text-decoration: none



/* Currently Selected */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
  background: rgb(20, 20, 20)
  border-color: #fff
  border-image: none
  border-style: solid
  border-width: 0
  color: #757575


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
  color: rgb(255, 0, 100)
  text-decoration: none


/* The fucking active color can be set here
.ui-widget :active
  outline: none
  color: rgb(0, 200, 200)
  font-weight: normal


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
  border: 0
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x
  color: #363636


.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
  color: #363636


.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
  border: 0
  background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x
  color: #cd0a0a


.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
  color: #cd0a0a


.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
  color: #cd0a0a


.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
  font-weight: normal


.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
  opacity: .7
  filter: Alpha(Opacity=70)
  font-weight: normal


.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
  opacity: .35
  filter: Alpha(Opacity=35)
  background-image: none
