/*
Copyright @ All The Bullshit (Adrian | adi769#6946)
Something something GLP or MIT license who gives one
take this, nab it, steahl it and ammend it and remove the comments (including this junk) because why would you keep them
*/
/* Import Open Sans and Montserrat, I ended up not using Montserrat because there's too many font-family options */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

/* ^Above reason, I just set all font-families to open sans using !important, also switched around order to Helvetica > Arial because it looks nicer if you have it and Open Sans can't be used (for some reason) */
* {
  /* Sets the font, you can practically grab any Google CDN Font and use it here once you set the import ulr, note that this affects all text */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  /* This sets the font-weight to "normal", shouldn't have to be done but hwbot for some reason like changing font weights on click
  so my fix for the "bold to normal on hover" buttons in the profile-details section made the text links go "normal to bold" on hover */
  /* font-weight: normal !important; */
}

/* Set the main/outer background color, that font setting is probably redundant lol */
body {
  background: rgb(10, 10, 10);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* The main window, holds the profile
This is no longer used to set background color as it would be redundant
Use .innerpadding instead */
/* #main {
  background: rgb(50, 50, 50);
} */
/* Change the background color of the right section that holds the
"Customize", "(Username)'s best scores", "My global cups", .... you get the point
Well, it used to, at least locally and on the editor but when applied it doesn't work,
Use .innerpadding instead */
/* aside[role="complementary"] .innerpadding {
  padding: 25px;
  background-color: rgb(30, 30, 30);
} */
.innerpadding {
  background-color: rgb(50, 50, 50);
}

/* Link color at the default state */
a, a:active, a:visited {
  color: rgb(255, 0, 100);
  text-decoration: none;
}

/* Link color when hovered */
a:hover {
  color: rgb(0, 200, 200);
  text-decoration: underline;
}

/* Colour of the "My Recent Achievements" in the bottom right... why is this a different tag? */
dl.ranking dt {
  color: rgb(255, 0, 100);
}

/* Heading 3 tag, change colour of some of the main headings like "Apprentice (or other league)", "Customize", "My global cups", "Advertisement" etc. */
h3 {
  color: #fff;
}

/* Most of the body color settings, at least this was nice and convenient */
body, select, input, textarea {
  color: #fff;
}

/* Removes the borders around the "Career Ranking" and "Points" boxes */
#hardware-details ul, ul.bg-list, .bg-accent {
  background-color: #f4f7f8;
  border-radius: 0px;
  border: solid 0px #e7eaeb;
}

/* I forgot what this was, honestly it probably was annoying me because it had a border but I can't find what it was easily and I CBA xd */
ul.bg-list-full {
  background-color: #f4f7f8;
  border-radius: 0px;
  border: solid 0;
}

/* More fucking border-reset, this is for the main two "Career Rankign" and "Points" boxes, also set background color */
.bg-accent, div.achievement_type {
  background: rgb(30, 30, 30);
  border: 0;
  box-shadow: 0 0 0;
}

/*
Why the FUCK was this a thing? the original was 20k+ characters and about 22KB when in a standalone .txt document,
and all it did was add the dumb fuzzy background that is fucking annoying when you actually want a flat background color
*/
#grid {
  z-index: -10000;
  width: 0;
  height: 0;
}

/*
All the below fucking shit is 100% copypasta'd from the original CSS instead of just grabbing the properties of the tags that were changed
I can't be fucked to decypher their bullshit of tags, but these apply to the "My Wall" buttons etc. and you can hopefully make out what is what
I set the colours as they are on my profile, but also removes the "mildly questionable" use of changing font-weight, border size or whatever-the-fuck to
indicate that the user hovered. It was annoying me, so now it is no more.

They had comments in this, they're useless but I left them in and prefixed my comments with... MYCOMENNT
*/
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  ;
  font-size: 1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  ;
  font-size: 1em;
}

/* MYCOMMENT:
Changes the container color of the "My wall", "Points", "My Achievements" etc. section */
.ui-widget-content {
  border: 0 none;
  background: rgb(30, 30, 30) 50% 50% repeat-x;
  color: #fff;
}

/* MYCOMMENT:
Changes the header color of the above container, this holds the "My wall" etc. buttons" */
.ui-widget-header {
  border: 0 none;
  background: rgb(30, 30, 30);
  color: #206681;
  font-weight: bold;
  border-bottom: 0;
}

.ui-widget-header a {
  color: #206681;
}

/* Interaction states
----------------------------------*/
/* MYCOMMENT:
Default non active*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: rgb(50, 50, 50);
  border: 0;
  color: #757575;
  font-size: 14px;
  /* This sets the profile-details "My wall, points" etc. buttons default font-weight,
  you can probably change this if you can be arsed figuring out all the active/hover states */
  font-weight: normal;
  padding: 5px 14px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/* MYCOMMENT:
  Default non-active */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

/* MYCOMMENT:
  Hover non active */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
  background: rgb(20, 20, 20);
  border: 0;
  font-weight: normal;
  color: #1a5267;
}

/* MYCOMMENT:
  Click on non active */
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 0;
  background: rgb(20, 20, 20) url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #1a5267;
}

/* MYCOMMENT:
  Hover non active */
.ui-state-hover a, .ui-state-hover a:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

/* MYCOMMENT:
  Currently Selected */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: rgb(20, 20, 20);
  border-color: #fff;
  border-image: none;
  border-style: solid;
  border-width: 0;
  color: #757575;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: rgb(255, 0, 100);
  text-decoration: none;
}

/* MYCOMMENT:
    The fucking active color can be set here, WHY THE FUCK IS IT SEPARATE???
    ALSO it ONLY.FUCKING.APPLIES. if you click the TEXT, if you don't; well fuck you and your feedback on click you'll have to live with just the background color changing*/
.ui-widget :active {
  outline: none;
  color: rgb(0, 200, 200);
  font-weight: normal;
}

/* Interaction Cues
    ----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 0;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 0;
  background: #fef1ec url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
  color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: normal;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}
