@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

body{
  background: rgb(20, 20, 20);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#main{
  background: rgb(50, 50, 50);
}

.fontface h2, .fontface h1{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontface h3, .fontface dl.ranking dt{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontface dl dt, .fontface h4{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontface .btn.cta, .fontface .btn.blue{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontface .btn.analysis{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.sf-menu li a,
.sf-menu li a:visited {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul.sf-menu li.sfHover ul li a,
ul.sf-menu li#nav_score li a:hover,
ul.sf-menu li#nav_score.sfHover ul li a{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.stageranking {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#hardware dl dd{
    font-size: 1.1em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin:0 0 7px 0;
    clear: both;
    }

.result p span, p.king{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.biggerpos {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.bigpos {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.mediumpos {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.smallpos {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.ranking .general div{
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontface .listview thead td{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
img.faint {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
ul.countdown li .count{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul.countdown li .label, .countdownlabel{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#cup-specs li{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.ui-widget { font-family: 'Open Sans', Helvetica, Arial, sans-serif;; font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: 'Open Sans', Helvetica, Arial, sans-serif;; font-size: 1em; }
 }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; text-transform:uppercase; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size:1.16666em; font-weight:normal;}
#xtu header h3 span{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
table.accent-box thead tr.headings td{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.setting-list dl dt{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
